on: 
  push:
    branches: 
      - develop
  pull_request:
     branches: 
       - develop
name: npm install, build and publish
jobs:
  build-and-publish:
    name: build and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: npm install
        uses: actions/npm@master
        with:
          args: install
      - name: docker build
        uses: actions/docker/cli@master
        with:
          args: build -t snk0202/poc-dev:$(date +%Y%m%d%H%M%S) .
      - name: docker login
        uses: actions/docker/login@master
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      - name: docker push
        uses: actions/docker/cli@master
        with:
          args: push snk0202/poc-dev
